.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.head{
  color: rgb(0, 0, 0);
  text-align: center;
  text-shadow: 10px black;
  text-overflow: ellipsis;
}

form {
  display: grid;
  align-items: center;
  padding: 20px 100px 100px 100px;
  margin: auto;
  height: 40vh;
  background-color: antiquewhite;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  transition: 0.3s;
  width: min-content;

}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  background-color: white;
}
.upline {
/* align-items: center; */
text-align: center;
}


.cards {
  margin: auto;
  height: fit-content;
  width: calc(33.33% - 10px);
  background-color: rgb(255, 255, 255);
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
  line-height: 30px;
  text-align: left;
  margin-top: 2pc;
  transition: transform 0.2s ease-in-out;
}

.cards:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  background-color: antiquewhite;
  transform: scale(1.1);
}

.upline {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  display:inline-flex;
}

.head1 {
  text-align: center;
}

span {
  font-size: 18px;
  font-weight: lighter;
}

.bttn {
  display: flex;
  justify-content: space-between;
}

.button {
  background-color: antiquewhite; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  color: black;
}

.btn {
  background-color:  antiquewhite; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  color: black;

  }

  .button:hover{
    background-color: white;
  }

  .btn:hover{
    background-color: white;
  }

